*{
    box-sizing: border-box;
    font-size: 62.5%;

}
body{
    font-size: 1.6rem;
    .poppins-thin {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
      }
      
      .poppins-extralight {
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: normal;
      }
      
      .poppins-light {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
      }
      
      .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .poppins-medium {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
      }
      
      .poppins-semibold {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
      }
      
      .poppins-bold {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
      }
      
      .poppins-extrabold {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: normal;
      }
      
      .poppins-black {
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-style: normal;
      }
      
      .poppins-thin-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: italic;
      }
      
      .poppins-extralight-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: italic;
      }
      
      .poppins-light-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: italic;
      }
      
      .poppins-regular-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: italic;
      }
      
      .poppins-medium-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: italic;
      }
      
      .poppins-semibold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: italic;
      }
      
      .poppins-bold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: italic;
      }
      
      .poppins-extrabold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: italic;
      }
      
      .poppins-black-italic {
        font-family: "Poppins", sans-serif;
        /* font-weight: 900; */
        font-style: italic;
      }
      .main-conten{
        
        li{
            margin: 6px;
        }
      }
      a{
        text-decoration: none;
      }
      .header .body{
        display: flex;
        /* padding: 36px; */
      }
      .nav{
        margin-left: auto;
        margin-top: 16px;
      }
      .nav ul{
        display: flex;
      }
      .btn-singup{
        display: flex;
        
      }
      .main-conten{
        width: 1170px;
        max-width: calc(100 - 48px);
        margin-left: auto;
        margin-right: auto;
      }
      .nav a{
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        text-align: center;
        color: #5F5B53;

      }
      nav a:hover{
        font-family: Poppins;
        font-size: 16px;
        font-weight: 600;
        line-height: 28px;
        text-align: center;
        color: #171100 ;
      }
      .btn{
        color: aliceblue;
        background-color: black;
        padding: 11px;
       
        border-radius: 24.5px;
        size: 16px;
        text-align: center;
       

      }
      .btn-singup{
        margin-top: 16px
      }
      .header.fixed{
        position: sticky;
        padding: 36px;
        top: -28px;
        
      }
      .header{
        background: rgba(255, 252, 244, 1);
        

      }
      .btn-singup{
        margin-left: 49px;
      }
      p{
        margin-top: 64px;
      }
}
